.sidebar{
    height: 100vh;
    width: 15%;
    background-color: black;
    display: inline-block;
}

.sidebar-list{
    height: auto;
    padding: 0;
    width: 100%;
    color: white;
}

.sidebar-list .row{
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar-list .row:hover {
    cursor: pointer;
    background-color: #a8a8a8;
    color: black;
}

.sidebar-list #active {
    cursor: pointer;
    background-color: #a8a8a8;
    color: black;
}

.row #icon {
    flex:30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.color-text {
    color: #a8a8a8;
}

.side-nav-logo {
    color: #fff;
    flex-grow: 1;
    text-align: center;
}

